<!-- KARIM'S NOTES-->
<!-- note that we se @article instead of @articles in index. It is fully customizable-->

<h1><%=@article.title%></h1>
<p><%=@article.body%></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), 
            method: :delete,
            data: {confirm: "Are you sure?"}%></li>
  <li><%= link_to "Back to Home", root_path %></li>
</ul>